$border-radius-size: 14px;
$article-yellow: #FFC41E;
$article-blue: #022373;
$article-red: #CF2713;
$article-green: #08733D;
$grey-color: #9E9E9E;

.Template1Main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    border: black 10px solid;
    border-radius: $border-radius-size + 5;
    //box-shadow: 2px 2px 10px #eae9e9;
    cursor: pointer;
    //background-color: $article-yellow;
    //overflow: hidden;
    background-color: black;
}

.Template1 {
    
    display: inline-block;
}

.templateMedia {
    width: 100%;
    height: auto;
    border-radius: $border-radius-size;
    display: block;
    border: $article-yellow 10px solid;
    box-sizing: border-box;
}

.templateCommonArea {
    text-align: center;
}

.templateType {
    font-size: medium;
    font-weight: 550;
    color: $article-yellow;
    background-color: $article-red;
    border: $article-red 10px solid;
    border-radius: $border-radius-size;
    margin-top: 8px;
}

.templateTitle {
    font-size: large;
    font-weight: 1000;
    margin: 8px 0;

    color: $article-yellow;
    background-color: $article-blue;
    border: $article-blue 10px solid;
    border-radius: $border-radius-size;
}

.templateDescription {
    font-size: small;
    color: $article-yellow;
    max-height: 54px;
    overflow: hidden;
background-color: $article-green;
    border: $article-green 10px solid;
    border-radius: $border-radius-size;
    margin-bottom: 8px;
}

.templateCustomArea {
    padding: 10px;
    width: 100%;
    background-color: $article-blue;
    border-radius: $border-radius-size;
    border: $article-blue 10px solid;
    box-sizing: border-box;
}

.author {
    //width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.authorImage {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;

    border: $article-yellow 2px solid;
}

.authorName {
    margin: 0;
    color: $article-yellow;
    font-size: small;
    font-weight: 550;
}